@import url("../App.css");

.program-outlook {
  padding: 5rem 12rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.program-outlook h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--yellow);
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 440px) {
}
