@import url("../App.css");

.project-description {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4rem 0;
  gap: 3rem;
}

.project-overview {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.project-overview h1 {
  color: var(--yellow);
  font-size: 2rem;
  font-weight: 600;
}

.project-overview p {
  font-size: 1.1rem;
  line-height: 1.7;
}

.map {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .project-description {
    flex-direction: column;
    align-items: center;
  }

  .project-overview {
    width: 60%;
    gap: 2rem;
  }

  .map {
    width: 50%;
    height: 50vh;
  }

  .project-overview h1 {
    font-size: 1.5rem;
  }

  .project-overview p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 440px) {
  .project-description {
    padding: 3rem 0;
    gap: 2rem;
  }

  .project-overview {
    width: 70%;
    gap: 1rem;
  }

  .map {
    width: 70%;
    height: 30vh;
  }

  .project-overview h1 {
    font-size: 1.2rem;
  }

  .project-overview p {
    font-size: 0.6rem;
  }
}
