.slideshow-deck {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
}

.prev,
.next {
  color: white;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 0.3rem;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.2);
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.slideshow-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  height: 400px;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Slide */
.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: background-image 0.3s ease-in-out;
}

/* Dots Navigation */
.dots {
  text-align: center;
}

.dot {
  height: 6px;
  width: 6px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .slideshow-body {
    height: 250px;
  }

  .slideshow-deck {
    gap: 1rem;
    padding-top: 1rem;
  }

  .prev,
  .next {
    font-size: 1rem;
  }

  .dot {
    height: 4px;
    width: 4px;
  }
}

@media screen and (max-width: 440px) {
}
