.collaborator-container {
  position: relative;
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 4rem 10rem 4rem;
}

.collaborators-header {
  position: relative;
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

.collaborators-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.collaborators-title h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #f8b714;
  margin-bottom: 0.5rem;
}

.collaborators-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1.5rem;
  justify-content: center;
  width: 100%;
}

.collaborator-card {
  list-style: none;
  flex: 1 1 20%;
  max-width: 200px;
  min-width: 150px;
}

.collaborator-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .collaborator-container {
    padding: 4rem 2rem 2rem 3rem;
    margin-bottom: 3rem;
  }

  .collaborators-header {
    height: auto;
    padding-top: 0;
  }

  .collaborators-title {
    width: 70%;
    text-align: center;
  }

  .collaborators-title h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    word-wrap: break-word;
  }

  .collaborators-title p {
    font-size: 0.8rem;
  }

  .collaborator-card {
    max-width: 120px;
    min-width: 120px;
  }

  .collaborators-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .collaborators-title h2 {
    font-size: 1.7rem;
    word-wrap: break-word;
  }

  .collaborator-container {
    padding: 3rem 0 3rem 0;
  }

  .collaborator-card {
    max-width: 100px;
    min-width: 100px;
  }

  .collaborators-list {
    padding: 0;
  }
}
