@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;1,200&family=Raleway:wght@100;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,300;0,400;0,600;1,300;1,500&display=swap");
:root {
  --regblue: #317db2;
  --reggreen: #abc737;
  --white: #fdfdfd;
  --off-white: #f8f8f8;
  --lightblue: #60a7f2;
  --black: #202223;
  --altblue: #4badce;
  --coolgreen: #8cba7a;
  --turq: #54ae96;
  --yellow: #f8b714;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image div {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#word-highlight {
  color: var(--yellow);
  font-size: 1.5rem;
  font-weight: 400;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
  overflow-x: visible;
}

body,
.App {
  width: 100%;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  width: 100%;
  overflow-y: auto;
}

.d-flex {
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  padding: 0 3rem;
}

.section {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

div {
  display: block;
}

/* Home */

.section {
  width: 100%;
  padding: 4rem;
}

.landing-page {
  position: relative;
  height: 60vw;
}

video {
  width: 120%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.background-container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  top: 0;
  width: 110%;
  height: 100%;
  z-index: 0;
}

.background-container img {
  width: 100%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.background-overlay {
  width: 100%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  height: 100%;
  background-image: linear-gradient(rgb(49, 125, 178), transparent);
}

.scroll-down-btn {
  position: absolute;
  bottom: 5rem;
  right: 2rem;
  transform: translateX(-50%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.scroll-down-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.scroll-down-btn.about {
  bottom: 2rem;
  z-index: 1;
  background-color: rgba(49, 125, 178, 0.4);
}

.scroll-down-btn.about:hover {
  background-color: rgba(49, 125, 178, 0.6);
}

@media screen and (max-width: 768px) {
  .landing-page {
    height: 100vh;
  }

  .club-name img {
    width: 15rem !important;
    height: 10rem;
  }

  .scroll-down-btn {
    bottom: 2rem;
    right: 1.5rem;
  }
}

@media screen and (max-width: 440px) {
  .club-name img {
    width: 70% !important;
    height: 8rem;
  }
}

.img-overlay {
  width: 100%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  height: 100%;
  background-color: rgba(49, 125, 178, 0.6);
}

.club-name {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.club-name img {
  width: 30%;
  max-width: 300px;
}

.intro-info {
  padding: 4rem 0;
  height: fit-content;
  background: white;
  position: relative;
}

.intro-info h1,
span {
  font-size: 5rem;
  font-weight: 600;
  margin: 3.5rem 0;
  white-space: nowrap;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#word-one {
  color: var(--reggreen);
}

#word-two {
  color: var(--altblue);
}

.intro-info-container {
  width: 100%;
  padding: 0 2rem;
  padding: 2rem;
}

.mission-text {
  font-weight: 200;
  margin-top: 2rem;
  line-height: 1.5;
}

.mission-text p {
  font-size: 2rem;
  margin-bottom: 0.7rem;
  width: 60%;
}

#word-highlight {
  color: var(--yellow);
  font-size: 2rem;
}

#par1 {
  display: flex;
  justify-content: start;
  text-align: start;
}

#par2 {
  display: flex;
  justify-content: end;
  text-align: end;
}

#par3 {
  text-align: center;
}

@media screen and (min-width: 1800px) {
  .intro-info {
    padding: 7rem 0;
  }

  .club-name img {
    width: 30%;
    max-width: 300px;
  }

  .intro-info h1,
  span {
    font-size: 7.1rem;
    margin: 2rem 0;
  }
}

@media screen and (max-width: 768px) {
  .intro-info {
    padding: 1rem 0;
    height: fit-content;
    background: white;
    position: relative;
  }

  .intro-info h1,
  span {
    font-size: 3.2rem;
    margin: 1.5rem 0;
  }

  .mission-text p {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  #word-highlight {
    color: var(--yellow);
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 440px) {
  .intro-info {
    padding: 1rem 0;
    height: fit-content;
    background: white;
    position: relative;
  }

  .intro-info h1,
  span {
    font-size: 1.9rem;
    margin: 0.8rem 0;
  }

  .mission-text p {
    font-size: 1.2rem;
  }

  .mission-text {
    margin-top: 1rem;
  }

  #word-highlight {
    color: var(--yellow);
    font-size: 1.2rem;
  }
}

/* Guided Projects */

.page-heading {
  width: 100%;
  height: 55vh;
  background: var(--grey2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  position: relative;
}

.page-heading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-heading .page-heading-text {
  width: 60%;
  height: 55vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.page-heading-text h1 {
  font-size: 3rem;
  font-weight: 600;
  color: white;
  margin-top: 0.7rem;
}

.page-heading-overlay {
  width: 100%;
  height: 55vh;
  background: rgba(34, 107, 160, 0.846);
  position: absolute;
  top: 0;
  left: 0;
}

.page-heading-text p {
  color: white;
  font-size: 1.2rem;
}

.project-navigation {
  position: absolute;
  bottom: 0;
  display: flex;
  direction: flex-row;
  font-size: 1.3rem;
  gap: 0.3rem;
  width: 80%;
}

.tab {
  width: 30%;
  background-color: var(--coolgreen);
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding: 0.3rem;
  padding-left: 1rem;
}

.active-tab {
  width: 30%;
  color: var(--coolgreen);
  background-color: white;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding: 0.3rem;
  padding-left: 1rem;
}

@media screen and (min-width: 1800px) {
}

@media screen and (max-width: 1176px) {
}

@media screen and (max-width: 812px) {
}

@media screen and (max-width: 440px) {
  .page-heading {
    width: 100%;
    height: 35vh;
    background: var(--grey2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
  }

  .page-heading .page-heading-text {
    width: 100%;
    height: 35vh;
    margin-top: 2rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page-heading-text h1 {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-top: 0.7rem;
  }

  .page-heading-overlay {
    height: 35vh;
  }

  .page-heading-text p {
    color: white;
    font-size: 0.9rem;
  }
}

/* Contact Page */

.contact-banner {
  width: 100%;
  height: 65vh;
}

.contact-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-banner-overlay {
  background: rgba(49, 125, 178, 0.8);
  width: 100%;
  height: 65vh;
  position: absolute;
  top: 0;
}

.contact-main {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-main-inner {
  width: 60%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contact-text h1 {
  font-size: 3rem;
  color: white;
}

.contact-text p {
  font-size: 1.2rem;
  color: white;
  margin-top: 1rem;
  width: 70%;
}

.contact-window {
  height: 22rem;
  width: 100%;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  display: flex;
  flex-direction: row;
}

.contact-window-left {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem 5rem 2rem 3rem;
}

.contact-window-left h4 {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: var(--reggreen);
}

.contact-window-left form {
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
}

.contact-window-left form input,
.contact-window-left form textarea {
  margin-bottom: 0.5rem;
  border: none !important;
  border-bottom: 1px solid rgb(221, 221, 221) !important;
  padding: 0.8rem 0.5rem;
  font-size: 0.8rem;
}

.contact-window-left form input:focus,
.contact-window-left form textarea:focus {
  outline: none;
}

.contact-window-left form button {
  background-color: var(--reggreen);
  color: white;
  padding: 6px 20px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  position: absolute;
  top: -3.4rem;
  right: -5.5rem;
  /* border-radius: 50%; */
}

.contact-window-right {
  height: 100%;
  width: 35%;
  background: #194c70;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-methods {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.contact-methods .social-link {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-window-right h4 {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  width: 100%;
}

.contact-methods .icon {
  margin-right: 0.5rem;
  font-size: 20px;
  color: white;
  flex-shrink: 0;
}

.contact-window-right p {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  width: 100%;
  word-break: break-all;
  margin-bottom: 0;
}

.contact-methods .social-link:last-child p {
  word-break: normal;
}

.contact-details {
  width: 80%;
}

@media screen and (max-width: 1090px) {
  .contact-main-inner {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .contact-window {
    min-height: 28rem;
    flex-direction: column;
    position: relative;
  }

  .contact-window-left {
    height: 21rem;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .contact-window-right {
    min-height: 8rem;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
  }

  .contact-details {
    width: 90%;
  }

  .contact-methods {
    width: 100%;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    height: fit-content;
  }

  .contact-methods .social-link {
    margin-bottom: 0;
    width: 8rem;
    justify-content: center;
    align-items: start;
  }

  .contact-methods .social-link p {
    width: fit-content;
  }

  .contact-text h1 {
    font-size: 2rem;
  }

  .contact-text p {
    font-size: 0.9rem;
    margin-top: 1rem;
    width: 80%;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 660px) {
  .contact-methods {
    flex-direction: column;
    gap: 0.7rem;
    align-items: start;
    justify-content: start;
    height: fit-content;
  }

  .contact-methods .social-link {
    width: 13rem;
    justify-content: start;
    align-items: start;
  }

  .contact-text p {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    width: 80%;
    margin-bottom: 1rem;
  }

  .contact-window {
    min-height: 33rem;
    flex-direction: column;
    position: relative;
  }

  .contact-window-right {
    padding: 1rem 0 1rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 440px) {
  .contact-text p {
    margin-bottom: 2.5rem;
  }
}

/* Join Us Page */
.join-main-container {
  margin-top: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #ffffff;
}
.position-card {
  margin-bottom: 80px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 400px;
  width: 500px;
  border-radius: 2rem;
  background: #ffffff;
  box-shadow: rgba(126, 127, 127, 0.3) 0px 6px 10px;
}
.position-card-title {
  text-align: center;
  color: var(--reggreen);
}
.position-card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.position-card-image {
  width: 100px;
  height: 100px;
}
.position-card-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.position-card-btn {
  background-color: var(--regblue);
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.position-card-btn:hover {
  background-color: var(--reggreen);
}
.position-card-deadline {
  color: var(--black);
}
