@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;1,200&family=Raleway:wght@100;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,300;0,400;0,600;1,300;1,500&display=swap');
:root{
  --regblue: #317DB2;
  --reggreen: #ABC737;
  --white: #FDFDFD;
  --lightblue: #60A7F2;
  --black: #202223;
  --altblue: #4BADCE;
  --coolgreen: #8CBA7A;
  --turq: #54AE96;
  --yellow: #F8B714;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image div{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#word-highlight{
  color: var(--yellow);
  font-size: 1.5rem;
  font-weight: 400;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans 3', sans-serif;
  overflow-x: visible;
}

body,
.App {
    width: 100%;
    overflow-x: hidden;
}

.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;

}

.app-container {
  display: flex;
  width: 100%;
  overflow-y: auto;
}

.d-flex{
  display: flex;
  align-items: center;
}

.container{
  margin: 0 auto;
  padding: 0 3rem;
}

.section{
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

div{
  display: block;
}



/* HEADER */

.header{
  overflow-x: hidden;
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 999;
  transition: all 0.5s ease-in-out;

}

.header.active{
  overflow-x: hidden;
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 999;
  background-color: var(--regblue);
  transition: all 0.5s ease-in-out;
}

.head-center{
  justify-content: space-between;
  height: 100%;
}

.logo{
  height: 4rem;
  width: 4rem;
  margin-left: 2rem;
  position: relative;
  cursor: pointer;
}

.logo-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-title{
  position: absolute;
  top: 0;
  height: 100%;
  padding-left: 0.6rem;
}

.nav-item{
  font-weight: 200;
  font-size: 1rem;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.nav-item:hover{
  color: var(--reggreen);
}

.nav-list .nav-item:not(:last-child){
  margin-right: 1.5rem;
}

.green{
  background-color: green;
}

.header p{
  font-size: 2rem;
}

.hamburger-menu{
  cursor: pointer;
  color: white;
}

.dropdown-menu{
  background: var(--regblue);
  position: fixed;
  top: 5rem;
  height: fit-content;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  pointer-events: none; /* Add this line */
  z-index: -99999;
}

.dropdown-menu.active{
  opacity: 1;
  transition: all 0.5s ease-in-out;
  pointer-events: auto; /* Add this line */
  z-index: 99999;
}

.dd-menu-optns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  color: white;
}

.dd-menu-nav{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home */

.section{
  width:100%;
  padding: 4rem;
}

.landing-page{
  position: relative;
  height: 60vw;
}

video{
  width: 120%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.background-container{
  position: absolute;
  bottom: 0;
  left:0;
  margin:0;
  top:0;
  width: 110%;
  height: 100%;
  z-index:0;
}

.background-container img{
  width: 100%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.background-overlay{
  width: 100%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  height: 100%;
  background-image: linear-gradient(rgb(49, 125, 178), transparent);
}

.scroll-down-btn{
  position: absolute;
  bottom: 5rem;
  right: 2rem;
  transform: translateX(-50%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.scroll-down-btn:hover{
  background-color: rgba(255, 255, 255, 0.4);
}

.scroll-down-btn.about{
  bottom: 2rem;
  z-index: 1;
  background-color: rgba(49, 125, 178, 0.4);
}

.scroll-down-btn.about:hover{
  background-color: rgba(49, 125, 178, 0.6);
}

@media screen and (max-width: 768px){

  .landing-page{
    height: 100vh;
  }


  .club-name img{
    width: 15rem !important;
    height: 10rem;
  }

  .logo{
    height: 4rem;
    width: 4rem;
    margin-left: -1rem;
    position: relative;
  }

  .scroll-down-btn{
    bottom: 2rem;
    right: 1.5rem;
  }

}
/* 
@media screen and (max-width: 440px){

  .club-name img{
    width: 70% !important;
    height: 8rem;
  }
} */

.img-overlay{
  width: 100%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  height: 100%;
  background-color: rgba(49, 125, 178, 0.6);
}

.club-name{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.club-name img{
  width: 30%;
  max-width: 300px;
}

.intro-info{
  padding: 4rem 0;
  height: fit-content;
  background: white;
  position: relative;
}

.intro-info h1, span{
  font-size: 5rem;
  font-weight: 600;
  margin: 3.5rem 0;
  white-space: nowrap;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#word-one{
  color: var(--reggreen);
}

#word-two{
  color: var(--altblue)
}

.intro-info-container{
  width: 100%;
  padding: 0 2rem;
  padding: 2rem;
}

.mission-text{
  font-weight: 200;
  margin-top: 2rem;
  line-height: 1.5;
}

.mission-text p{
  font-size: 2rem;
  margin-bottom: 0.7rem;
  width: 60%;
}

#word-highlight{
  color: var(--yellow);
  font-size: 2rem;
}

#par1{
  display: flex;
  justify-content: start;
  text-align: start;
}

#par2{
  display: flex;
  justify-content: end;
  text-align: end;
}

#par3{
  text-align: center;
}

@media screen and (min-width: 1800px){
  .intro-info{
    padding: 7rem 0;
  }

  .club-name img{
    width: 30%;
    max-width: 300px;
  }

  .intro-info h1, span{
    font-size: 7.1rem;
    margin: 2rem 0;
  }
}

@media screen and (max-width: 768px){

  .intro-info{
    padding: 1rem 0;
    height: fit-content;
    background: white;
    position: relative;
  }

  .intro-info h1, span{
    font-size: 3.2rem;
    margin: 1.5rem 0;
  }

  .mission-text p{
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  #word-highlight{
    color: var(--yellow);
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 440px){
  .intro-info{
    padding: 1rem 0;
    height: fit-content;
    background: white;
    position: relative;
  }

  .intro-info h1, span{
    font-size: 1.9rem;
    margin: 0.8rem 0;
  }

  .mission-text p{
    font-size: 1.2rem;
  }

  .mission-text{
    margin-top: 1rem;
  }

  #word-highlight{
    color: var(--yellow);
    font-size: 1.2rem;
  }
}

.news-piece-holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.news-piece-container{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-bottom: 6rem;
  /* border: 1px solid rgb(208, 208, 208); */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
  /* background-image: linear-gradient(rgba(49, 126, 180, 0.7), rgba(139, 186, 120, 0.3)); */
}

.news-piece.right-container{
  width: 30%;
}

.news-piece.left-container{
  width: 70%;
  padding: 1rem 2.5rem;
}

.news-piece h1{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--coolgreen);
}

.news-piece p{
  line-height: 1.5; 
  color: black;
  margin-bottom: 2rem;
}

.bottom-info{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900%;
  height: 3rem;
  width: fit-content;
}

.news-piece .event-link-btn{
  color: white;
  font-size: 1rem;
  background: var(--regblue);
  padding: 0.5rem 1rem;
  width: fit-content;
  text-decoration: none;
  display: block;
  margin-right: 2rem;
}

.news-piece span{
  font-size: 1.1rem;
  color: var(--yellow);
}

.events-navbar{
  width: 100%;
  background-color: white;
  border: 1px solid white;
  height: 14rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.events-list{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background: white;
}

.event-container{
  background: white;
}

.events-list {
  list-style: none;
}
.events-button{
  padding: 20px;
  cursor: pointer;
  border: none;
  color: var(--white);
  background-color: var(--regblue);
}
.events-button:hover{
  background-color: #23699b;
  scale: 1.05;
  transition: all 0.2s ease;
}
.events-button.active{
  background: var(--coolgreen);
}
.events-button:active {
  scale: 1.01;
  transition: all 0.1s ease;
}
.event-article{
  position: relative;
  height: auto;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

@media screen and (max-width: 768px){
  .events-list{
    width: 75%;
  }

  .news-piece-container{
    width: 70%;
    flex-direction: column;
    align-items: center;
  }
  
  .news-piece.right-container{
    width: 80%;
    margin-top: 2rem; 
  }
  
  .news-piece.left-container{
    width: 100%;
    padding: 1rem 2.5rem;
  }

  .news-piece h1{
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .news-piece p{
    line-height: 1.5; 
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }
  
  .news-piece span{
    font-size: 0.9rem;
  }

}

@media screen and (max-width: 440px){

  .events-list{
    width: 80%;
  }

  .events-navbar{
    width: 100%;
    background-color: var(--white);
    height: 8rem;
  }

  .events-button{
    padding: 10px;
    cursor: pointer;
    border: none;
    color: var(--white);
    background-color: var(--regblue);
    font-size: 0.7rem;
  }

  .news-piece-container{
    width: 70%;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-bottom: 4rem;
  }
  
  .news-piece.right-container{
    width: 80%;
    margin-top: 1rem; 
  }
  
  .news-piece.left-container{
    width: 100%;
    padding: 1rem 1rem;
  }

  .news-piece h1{
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .news-piece p{
    line-height: 1.5; 
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }
  
  .news-piece span{
    font-size: 0.8rem;
  }

  .news-piece .event-link-btn{
    color: white;
    font-size: 0.8rem;
    background: var(--regblue);
    padding: 0.2rem 0.7rem;
    width: fit-content;
    text-decoration: none;
    white-space: nowrap;
    display: block;
    margin-right: 1.3rem;
  }

  .news-piece span{
    font-size: 0.8rem;
    width: fit-content;
    display: block;
    word-break: break-word;
    white-space: normal;
  }
}

.img-container{
  height: auto;
}

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 2px solid var(--regblue); */
}

.parallax-img{
  width: 120%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  overflow-clip-margin: content-box;
  overflow: clip;
  background-image: url(./assets/background2.jpg);
}

.club-stats{
  height: 60vh;
  width: 100%;
  position: relative;
  padding: 4rem;
}

.club-stats h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: white;
}


.stats{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
  width: 80%;
  color: white;  
}

.stats h1{
  font-size: 6rem;
}

.stat{
  text-align: center ;
}

@media screen and (max-width: 956px){

  .stats{
    width: 100%;
  }
}

@media screen and (max-width: 768px){

  .club-stats h1{
    font-size: 2.4rem;
  }

  .stats h1{
    font-size: 3rem;
  }

  .club-stats{
    height: 70vh;
    width: 100%;
    position: relative;
    padding: 4rem;
  }

}

@media screen and (max-width: 440px){

  .club-stats h1{
    font-size: 2.3rem;
  }

  .stats h1{
    font-size: 2rem;
  }


}

/* Footer */
.footer{
  background-color: var(--regblue);
  height: 12rem;
  position: relative;
}

.main-footer{
  height: 85%;
  display: flex;
  justify-content: space-between;
}

.left-container.footer{
  width: 50%;
  height: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links{
  width: 15rem;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 1rem;
}

.right-container.footer{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.right-container.footer p{
  color: white;
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
}

.right-container.footer form{
  width: 100%;
}

.right-container.footer input{
  padding: 0.8rem 1rem;
  width: 60%;
  background: none;
  border: 0.8px solid white;
  color: white;
}

.right-container.footer input:focus{
  outline: none;
}

.right-container.footer input::placeholder{
  color: white;
}

.right-container.footer button{
  padding: 0.8rem 1rem;
  background: none;
  border: 0.8px solid white;
  border-left: none;
  color: white;
  cursor: pointer;
}

.bottom-footer{
  display: flex;
  justify-content: center;
}

.bottom-footer p{
  font-size: 0.7rem;
  color: white;
}

@media screen and (max-width: 768px){

  .footer-links{
    width: 10rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 1rem;
  }

}

@media screen and (max-width: 440px){

  .main-footer{
    height: 85%;
    display: flex;
    flex-direction: column;

  }

  .right-container.footer{
    width: 90%;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .left-container.footer{
    width: 50%;
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }

  .right-container.footer p{
    font-size: 0.7rem;
  }
  
  .right-container.footer input{
    font-size: 0.7rem;
  }
  
  .right-container.footer button{
    font-size: 0.7rem;
  }
}


/* About */
.about-section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-banner{
  width: 100%;
  height: 60%;
  overflow: hidden;
  position: relative;
}

.main-banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-banner-overlay.blue{
  width: 75%;
  height: 100%;
  background:rgba(49, 125, 178, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
}

.main-banner-overlay.yellow{
  width: 25%;
  height: 100%;
  background:rgba(248, 183, 20, 0.25);
  z-index: 9;
  position: absolute;
  top: 0;
  right: 0;
}

.main-banner-overlay h1{
  font-size: 3.5rem;
  color: white;
  margin-bottom: 0.8rem;
  font-weight: 400;
  text-align: center;
  width: 90%;
}

.main-banner-overlay h3{
  color: white;
  max-width: 65%;
  text-align: center; 
  font-weight: 500;
  font-size: 1.2rem;
}

.cursor-text{
  color: white;
  font-size: 3.5rem;
  font-weight: 400;
}

.sub-banners{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  position: relative;
  background: white;
}

.sub-banner-left{
  width: 60%;
  height: 100%;
}

.sub-banner-left-overlay{
  width: 100%;
  height: 100%;
  background:rgba(88, 170, 30, 0.25);
  position: absolute;
  top: 0;
  right: 40%;
}

.sub-banner-left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub-banner-right{
  width: 40%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.sub-banner-right p{
  color: black;
  font-size: 1.4rem;
  z-index: 10;
  font-weight: 400;
  margin-bottom: 0.5rem;
  width: 90%;
}

.sub-banner-right span{
  color: black;
  font-size: 1.4rem;
  z-index: 10;
  font-weight: 400;
}

#green-text{
  color: var(--reggreen);
}

#yellow-text{
  color: var(--yellow);
}

#blue-text{
  color: var(--regblue);
}

@media screen and (min-width: 1800px){

  .sub-banner-right .text{
    width: 70%;
  }

  .sub-banner-right p{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .sub-banner-right span{
    font-size: 1.8rem;
  }

  .main-banner-overlay h3{
    font-size: 1.6rem;
  }
  
}

@media screen and (max-width: 1004px){

  .main-banner-overlay h1{
    font-size: 2.5rem;
  }
  
  .main-banner-overlay h3{
    max-width: 75%;
    font-size: 1rem;
  }

  .cursor-text{
    font-size: 2.5rem;
  }

  .sub-banner-right p{
    font-size: 0.9rem;
  }
  
  .sub-banner-right span{
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 620px){

  .main-banner-overlay h1{
    font-size: 2.3rem;
    width: 90%;
  }

  .cursor-text{
    font-size: 2.3rem;
  }

  .main-banner-overlay.blue{
    width: 100%;
  }
  
  .main-banner-overlay.yellow{
    width: 0;
    height: 100%;
  }
  
  .sub-banner-left{
    width: 50%;
    height: 100%;
  }
  
  .sub-banner-left-overlay{
    width: 100%;
    height: 100%;
    background:rgba(88, 170, 30, 0.25);
    position: absolute;
    top: 0;
    right: 50%;
  }

  .scroll-down-btn.about{
    bottom: 1rem;
    right: 0.5rem;
    z-index: 1;
    background-color: rgba(49, 125, 178, 0.4);
  }
  
  .sub-banner-right{
    width: 50%;
    padding-left: 3rem;
  }
}

@media screen and (max-width: 440px){

  .sub-banner-right{
    padding-left: 2rem;
    border: 1px solid white;
  }
}

/* Team Section */
.team-members-section{
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
  background: white;
}

.team-members-header{
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.team-members-header h1{
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--reggreen)
}

.team-members-header p{
  font-size: 0.8rem;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}

.card{
  background: white;
  width: 13rem;
  height: 20rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
}

.inner-card{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content{
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-content.back{
  padding: 1rem;
  line-height: 1.2rem;
  align-items: start;
}

.card-content.back p{
  margin-bottom: 0.7rem;
}

.card-content.back .exec-question{
  font-weight: 800;
  color: var(--yellow);
}

.exec-img-container{
  width: 80%;
  height: 75%;
  margin-bottom: 0.5rem;
}

.exec-img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content p{
  font-size: 0.7rem;
}

.card-content h4{
  font-size: 1rem;
}

.card-content h6{
  font-size: 0.8rem;
  color: var(--regblue);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 960px){

  .cards-container{
    gap: 3rem;
  }

  .card{
    width: 12rem;
    height: 18rem;
  }

  .section.team-members-section{
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 560px){

  .section.team-members-section{
    padding-top: 5rem;
    padding-bottom: 0;
  }
  
  .cards-container{
    gap: 2.5rem;
  }

  .card{
    width: 12rem;
    height: 18rem;
  }

  .team-members-header{
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 440px){
  .section.team-members-section{
    padding: 5rem 1rem 0 1rem;
  }

  .team-members-header h1{
    font-size: 2rem;
    font-weight: 600;
    color: var(--reggreen);
    text-align: center;
    width: 90%;
  }

  .cards-container{
    gap: 2rem;
  }

  .card{
    width: 10rem;
    height: 15rem;
  }

  .card-content.back p{
    margin-bottom: 0.5rem;
    line-height: 0.9rem;
  }

  .card-content p{
    font-size: 0.6rem;
  }
  
  .card-content h4{
    font-size: 0.8rem;
  }
  
  .card-content h6{
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
  }

  .team-members-header{
    margin-bottom: 4rem;
  }

  .exec-img-container{
    width: 80%;
    height: 75%;
    margin-bottom: 0.5rem;
  }

}

/* Founders */
.club-founders-main{
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}

.club-founders-header{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
}

.founder-title{
  width: 100%;
  line-height: 2.2rem;
  text-align: start;
  font-size: 0.8rem;
  margin-bottom: 3rem;
  color: var(--regblue);
}

.founder-name{
  width: 100%;
  margin-top: 1rem;
  text-align: end;
  color: var(--reggreen);
}

.club-founders-header h1{
  font-size: 3rem;
  font-weight: 600;
  color: var(--reggreen)
}

.club-founders-header p{
  width: 35%;
  font-size: 1rem;
  width: 60%;
  margin-top: 0.5rem;
}

.club-founders-title p{
  text-align: start;
  width: 100%;
  font-size: 1.2rem;
}

.founder-container{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.founder-container:not(:last-child){
  margin-bottom: 8rem;
}

.founder-testimony{
  width: 40%;
  padding: 0 2rem;
  line-height: 1.8;
}

.founder-img{
  width: 40%;
  height: 30rem;
  border-radius: 0.5rem;
}

.founder-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media screen and (max-width: 1006px){
  .club-founders-main{
    padding-top: 7rem;
  }

  .founder-container{
    width: 90%;
  }

  .section.club-founders{
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .founder-testimony{
    width: 50%;
    padding: 0 2rem;
    line-height: 1.8;
  }
  
  .founder-img{
    width: 45%;
  }

}

@media screen and (max-width: 740px){
  .club-founders-header{
    width: 100%;
  }

  .section.team-members-section{
    padding-bottom: 0;
  }

  .club-founders-header h1{
    font-size: 2.5rem;
  }
  
  .club-founders-header p{
    font-size: 0.9rem;
    width: 60%;
  }


  .club-founders-main{
    padding-top: 5rem;
  }

  .founder-container{
    width: 100%;
  }

  .founder-testimony{
    width: 50%;
    padding: 0 2rem;
    line-height: 1.8;
  }

  .founder-testimony p{
    font-size: 0.8rem;
  }
  
  .founder-img{
    width: 45%;
    height: 20rem;
  }

  .founder-title{
    width: 100%;
    line-height: 1.8rem;
    text-align: start;
    font-size: 0.6rem;
    margin-bottom: 2rem;
    color: var(--regblue);
  }

  .founder-container:not(:last-child){
    margin-bottom: 4rem;
  }

}

@media screen and (max-width: 560px){


  .club-founders-header h1{
    font-size: 2rem;
  }
  
  .club-founders-header p{
    font-size: 0.8rem;
    width: 60%;
  }

  .founder-title{
    line-height: 1.5rem;
    font-size: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .founder-testimony p{
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 440px){


  .section.club-founders{
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .club-founders-header{
    width: 100%;
    align-items: center;

  }

  .club-founders-header h1{
    font-size: 2rem;
  }
  
  .club-founders-header p{
    font-size: 0.8rem;
    width: 85%;
    text-align: center;
  }

  .founder-container{
    width: 100%;
    flex-direction: column;
    min-height: 36rem;
    height: fit-content;
  }

  .founder-container:last-child{
    position: relative;
  }

  .founder-testimony{
    width: 100%;
  }

  .founder-img{
    width: 80%;
    height: 18rem;
  }

  .founder-container:last-child .founder-testimony{
    position: absolute;
    bottom: 0;
  }

  .founder-container:last-child .founder-img{
    top: 0;
  }

  .founder-container:last-child{
    min-height: 38rem;
  }

}

/* Blogs */
.blog{
  padding: 12rem 13rem 9rem 13rem;
  overflow: hidden;
}

.blog .blog-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 0;
}

.blog .blog-box .blog-img{
  width: 45%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}

.blog-img img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: 600ms ease-in-out;
  filter: grayscale(100%);
}

.blog-img-overlay{
  width: 100%;
  height: 100%;
  background:rgba(49, 125, 178, 0.3);
  transition: opacity 800ms ease-in-out;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}

.blog .blog-box .blog-details{
  width: 40%;
  position: absolute;
  right: 0;
}

.blog .blog-box .blog-details h4{
  font-size: 1.6rem;
  margin-bottom: 40px;
}

.blog .blog-box .blog-details p{
  font-size: 0.9rem;
  margin-top: 2rem;
  margin-bottom: 20px;
}

.blog .blog-box .blog-details a{
  font-weight: 600; 
  font-size: 0.7rem;
  position: relative;
  transition: 0.3s;
  color: var(--coolgreen);
}

.blog .blog-box .blog-details a:hover{
  color: var(--coolgreen);
}

.blog .blog-box .blog-details a::after{
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background-color: var(--coolgreen);
  position: absolute;
  top: 13px;
  right: -60px;
  transition: 0.3s;
}

.blog .blog-box .blog-details a:hover::after{
  color: var(--coolgreen);
}

.blog .blog-box h1{
  position: absolute;
  top: -80px;
  left: 0;
  font-size: 5.5rem;
  font-weight: 700;
  color: rgba(111, 165, 183, 0.5);
  z-index: -1;
  font-weight: 800;
}

.blog .blog-box:not(:last-child){
  margin-bottom: 14rem;
}

.blog-details:hover + .blog-img img{
  filter: none;
}

.blog-details:hover + .blog-img .blog-img-overlay{
  opacity: 0;
}

.page-heading{
    width: 100%;
    height: 45vh;
    background: var(--grey2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: relative;
}

.page-heading img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-heading .page-heading-text{
  width: 100%;
  height: 45vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-heading-text h1{
    font-size: 3rem;
    font-weight: 600;
    color: white;
    margin-top: 0.7rem;
}

.page-heading-overlay{
  width: 100%;
  height: 45vh;
  background: rgba(49, 125, 178, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.page-heading-text p{
  color: white;
  font-size: 1.2rem;
}

@media screen and (min-width: 1800px){
  .blog{
    padding: 12rem 20rem 12rem 20rem;
  }

  .blog .blog-box .blog-img{
    width: 40%;
    height: 320px;
  }

}

@media screen and (max-width: 1176px){
  .blog{
    padding: 10rem 5rem 9rem 5rem;
    overflow: hidden;
  }

  .blog .blog-box:not(:last-child){
    margin-bottom: 10rem;
  }
  
}

@media screen and (max-width: 812px){
  .blog{
    padding: 8rem 2rem 9rem 2rem;
  }

  .blog .blog-box{
    height: 250px;
  }

  .blog .blog-box:not(:last-child){
    margin-bottom: 8rem;
  }

  .blog .blog-box .blog-img{
    width: 55%;
    height: 250px;
  }

  .blog .blog-box .blog-details h4{
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .blog .blog-box .blog-details p{
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 20px;
  }

  .blog .blog-box h1{
    font-size: 5rem;
  }
  
}

@media screen and (max-width: 440px){

  .blog{
    padding: 8rem 2rem 9rem 2rem;
  }

  .blog .blog-box{
    height: 160px;
  }

  .blog .blog-box:not(:last-child){
    margin-bottom: 8rem;
  }

  .blog .blog-box .blog-img{
    width: 50%;
    height: 160px;
  }

  .blog .blog-box .blog-details h4{
    font-size: 0.7rem;
    margin-bottom: 10px;
  }
  
  .blog .blog-box .blog-details p{
    font-size: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 20px;
  }

  .blog .blog-box h1{
    font-size: 3.5rem;
    top: -50px;
    left: 0;
  }

  .blog .blog-box .blog-details a{
    font-size: 0.5rem;
  }
  
  .blog .blog-box .blog-details a::after{
    width: 30px;
    top: 8px;
    right: -33px;
  }

  .page-heading{
    width: 100%;
    height: 35vh;
    background: var(--grey2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
}

.page-heading .page-heading-text{
  width: 100%;
  height: 35vh;
  margin-top: 2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-heading-text h1{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-top: 0.7rem;
}

.page-heading-overlay{
  width: 100%;
  height: 35vh;
  background: rgba(49, 125, 178, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.page-heading-text p{
  color: white;
  font-size: 0.9rem;
}

}


/* Contact Page */

.contact-banner{
  width: 100%;
  height: 65vh;
}

.contact-banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-banner-overlay{
  background: rgba(49, 125, 178, 0.8);
  width: 100%;
  height: 65vh;
  position: absolute;
  top: 0;
}

.contact-main{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-main-inner{
  width: 60%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contact-text h1{
  font-size: 3rem;
  color: white;
}

.contact-text p{
  font-size: 1.2rem;
  color: white;
  margin-top: 1rem;
  width: 70%;
}

.contact-window{
  height: 22rem;
  width: 100%;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  display: flex;
  flex-direction: row;
}

.contact-window-left{
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem 5rem 2rem 3rem;
}

.contact-window-left h4{
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: var(--reggreen)
}

.contact-window-left form{
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
}

.contact-window-left form input, .contact-window-left form textarea{
  margin-bottom: 0.5rem;
  border: none !important;
  border-bottom: 1px solid rgb(221, 221, 221) !important;
  padding: 0.8rem 0.5rem;
  font-size: 0.8rem;
}

.contact-window-left form input:focus, .contact-window-left form textarea:focus{
  outline: none;
}

.contact-window-left form button{
  background-color: var(--reggreen);
  color: white;
  padding: 6px 20px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  position: absolute;
  top: -3.4rem;
  right: -5.5rem;
  /* border-radius: 50%; */
}

.contact-window-right{
  height: 100%;
  width: 35%;
  background: #194C70;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-methods{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.contact-methods .social-link{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-window-right h4{
  color: white;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  width: 100%;
}

.contact-methods .icon{
  margin-right: 0.5rem;
  font-size: 20px;
  color: white;
  flex-shrink: 0;
}

.contact-window-right p{
  color: white;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  width: 100%;
  word-break: break-all;
  margin-bottom: 0;
}

.contact-methods .social-link:last-child p {
  word-break: normal;
}

.contact-details{
  width: 80%;
}


@media screen and (max-width: 1090px){
  .contact-main-inner{
    width: 85%;
  }

}

@media screen and (max-width: 768px){

  .contact-window{
    min-height: 28rem;
    flex-direction: column;
    position: relative;
  }

  .contact-window-left{
    height: 21rem;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .contact-window-right{
    min-height: 8rem;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
  }

  .contact-details{
    width: 90%;
  }

  .contact-methods{
    width: 100%;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    height: fit-content;
  }

  .contact-methods .social-link{
    margin-bottom: 0;
    width: 8rem;
    justify-content: center;
    align-items: start;
  }

  .contact-methods .social-link p{
    width: fit-content;
  }

  .contact-text h1{
    font-size: 2rem;
  }
  
  .contact-text p{
    font-size: 0.9rem;
    margin-top: 1rem;
    width: 80%;
    margin-bottom: 2rem;
  }

}

@media screen and (max-width: 660px){

  .contact-methods{
    flex-direction: column;
    gap: 0.7rem;
    align-items: start;
    justify-content: start;
    height: fit-content;
  }

  .contact-methods .social-link{
    width: 13rem;
    justify-content: start;
    align-items: start;
  }

  .contact-text p{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    width: 80%;
    margin-bottom: 1rem;
  }

  .contact-window{
    min-height: 33rem;
    flex-direction: column;
    position: relative;
  }


  .contact-window-right{
    padding: 1rem 0 1rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 440px){

  .contact-text p{
    margin-bottom: 2.5rem;
  }

}

/* Join Us Page */
.join-main-container {
  margin-top: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #ffffff;
}
.position-card {
  margin-bottom: 80px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 400px;
  width: 500px;
  border-radius: 2rem;
  background: #ffffff;
  box-shadow:rgba(126, 127, 127, 0.3) 0px 6px 10px; 
}
.position-card-title{
  text-align: center;
  color: var(--reggreen);
}
.position-card-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.position-card-image{
  width: 100px;
  height: 100px;
}
.position-card-btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.position-card-btn{
  background-color: var(--regblue);
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.position-card-btn:hover{
  background-color: var(--reggreen);
}
.position-card-deadline{
  color: var(--black);
}

