@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;1,200&family=Raleway:wght@100;400;500;600&display=swap');
:root{
  --regblue: #317DB2;
  --reggreen: #ABC737;
  --white: #FDFDFD;
  --lightblue: #60A7F2;
  --black: #202223;
  --altblue: #4BADCE;
  --coolgreen: #8CBA7A;
  --turq: #54AE96;
  --yellow: #F8B714;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow-x: visible;
}

body,
.App {
    width: 100%;
    overflow-x: hidden;
}

.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;

}

.app-container {
  display: flex;
  width: 100%;
  overflow-y: auto;
}

.d-flex{
  display: flex;
  align-items: center;
}

.container{
  margin: 0 auto;
  padding: 0 3rem;
}

.section{
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

div{
  display: block;
}



/* HEADER */

.header{
  overflow-x: hidden;
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 999;
  transition: all 0.5s ease-in-out;

}

.header.active{
  overflow-x: hidden;
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 999;
  background-color: var(--regblue);
  transition: all 0.5s ease-in-out;
}

.head-center{
  justify-content: space-between;
  height: 100%;
}

.logo{
  height: 4rem;
  width: 4rem;
  margin-left: 2rem;
  position: relative;
}

.logo-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-title{
  position: absolute;
  top: 0;
  height: 100%;
  padding-left: 0.6rem;
}

.nav-item{
  font-weight: 200;
  font-size: 1rem;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.nav-item:hover{
  color: var(--reggreen);
}

.nav-list .nav-item:not(:last-child){
  margin-right: 1.5rem;
}

.green{
  background-color: green;
}

.header p{
  font-size: 2rem;
}

/* Home */

.section{
  width:100%;
  padding: 4rem;
}

video{
  width: 120%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.video-overlay{
  width: 100%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  height: 100%;
  background-image: linear-gradient(rgb(49, 125, 178), transparent);
  
}

.img-overlay{
  width: 100%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  height: 100%;
  background-color: rgba(49, 125, 178, 0.6);
}

.club-name{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.club-name img{
  width: 30%;
  max-width: 300px;
}

.intro-search{
  position: relative;
  height: 60vw;
}

.scroll-down-btn{
  position: absolute;
  bottom: 4rem;
  right: 2rem;
  transform: translateX(-50%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.scroll-down-btn:hover{
  background-color: rgba(255, 255, 255, 0.4);
}

.video-container{
  position: absolute;
  bottom: 0;
  left:0;
  margin:0;
  top:0;
  width: 110%;
  height: 100%;
  z-index:0;
}

.intro-info{
  padding: 3rem 0;
  height: fit-content;
  background: white;
  position: relative;
}

.intro-info h1, span{
  font-family: 'Raleway', sans-serif; 
  font-size: 5rem;
  font-weight: 600;
  margin: 3.5rem 0;
  white-space: nowrap;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#word-one{
  color: var(--reggreen);
}

#word-two{
  color: var(--altblue)
}

.intro-info-container{
  width: 100%;
  padding: 0 2rem;
  padding: 2rem;
}

.mission-text{
  font-family: 'Raleway', sans-serif; 
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 2rem;
  line-height: 1.5;
}

.mission-text p{
  margin-bottom: 0.7rem;
  width: 60%;
}

#par1{
  display: flex;
  justify-content: start;
  text-align: start;
}

#par2{
  display: flex;
  justify-content: end;
  text-align: end;
}

#par3{
  text-align: center;
}

.milestones{
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.milestones-nav{
  width: 100%;
  height: 3rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.milestones-nav-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; 
  width: 50%;
}

.milestones-nav-items li{
  font-size: 1.1rem;
  cursor: pointer;
  background: rgba(140, 186, 122, 0.4);
  color: black;
  padding: 0.7rem 1.2rem;
  border-radius: 0.5rem;
}

.milestones-nav-items .active{
  background: rgba(140, 186, 122, 0.8);
}

.news-piece-holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.news-piece-container{
  width: 70%;
  display: flex;
  padding: 2rem;
  margin-bottom: 4rem;
  background-image: linear-gradient(rgba(49, 126, 180, 0.7), rgba(139, 186, 120, 0.3));
}

.news-piece.right-container{
  width: 30%;
}

.news-piece.left-container{
  width: 70%;
  padding: 1rem 2.5rem;
}

.news-piece h1{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.news-piece p{
  line-height: 1.5; 
}

.img-container{

  height: 100%;
}

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallax-img{
  width: 120%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  overflow-clip-margin: content-box;
  overflow: clip;
  background-image: url(./assets/background2.jpg);
}

.video-container img{
  width: 100%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  overflow-clip-margin: content-box;
  overflow: clip;
}


.club-stats{
  height: 60vh;
  width: 100%;
  position: relative;
  padding: 4rem;

}

.club-stats h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: white;
}


.stats{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
  width: 100%;
  color: white;  
}

.stats h1{
  font-size: 6rem;
}

.stat{
  text-align: center ;
}

/* Footer */

.footer{
  background-color: red;
  height: 15rem;
  position: relative;
}



/* About page */

/* About */
.about-section{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-banner{
  width: 100%;
  height: 60%;
  overflow: hidden;
  position: relative;
}

.main-banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-banner-overlay{
  width: 100%;
  height: 100%;
  background:rgba(49, 125, 178, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
}

.main-banner-overlay h1{
  font-size: 2.5rem;
  color: white;
  margin-bottom: 0.8rem;
}

.main-banner-overlay h3{
  color: white;
  max-width: 50%;
  text-align: center; 
  font-weight: 200;
}

.sub-banners{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.sub-banner-right-overlay{
  width: 100%;
  height: 100%;
  background:rgba(88, 170, 30, 0.25);
  position: absolute;
  top: 0;
  left: 40%;
}

.sub-banner-right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub-banner-left{
  width: 40%;
  height: 100%;
  background: white;
  padding: 4rem 3rem;
}

.sub-banner-left p{
  color: black;
  z-index: 10;
  font-weight: 400;
}

.sub-banner-right{
  width: 60%;
  height: 100%;
  background: yellow;
}


/* Team Section */
.team-members-section{
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}

.team-members-header{
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.team-members-header h1{
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--reggreen)
}

.team-members-header p{
  font-size: 0.8rem;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}

.card{
  background: white;
  width: 18%;
  height: 20rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.inner-card{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content{
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-content.back{
  padding: 1rem;
  line-height: 1.2rem;
}

.exec-img-container{
  width: 80%;
  height: 75%;
  margin-bottom: 0.5rem;
}

.exec-img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content p{
  font-size: 0.7rem;
}

.card-content h4{
  font-size: 1rem;
}

.card-content h6{
  font-size: 0.8rem;
  color: var(--regblue);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

/* Founders */
.club-founders-main{
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}

.club-founders-header{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
}

.founder-title{
  width: 100%;
  line-height: 2.2rem;
  text-align: start;
  font-size: 0.8rem;
  margin-bottom: 3rem;
  color: var(--regblue);
}

.founder-name{
  width: 100%;
  margin-top: 1rem;
  text-align: end;
  color: var(--reggreen);
}

.club-founders-header h1{
  font-size: 3rem;
  font-weight: 600;
  color: var(--reggreen)
}

.club-founders-header p{
  width: 35%;
  font-size: 1rem;
  width: 60%;
  margin-top: 0.5rem;
}

.club-founders-title p{
  text-align: start;
  width: 100%;
  font-size: 1.2rem;
}

.founder-container{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.founder-container:not(:last-child){
  margin-bottom: 8rem;
}

.founder-testimony{
  width: 40%;
  padding: 0 2rem;
  line-height: 1.8;
}

.founder-img{
  width: 40%;
  height: 30rem;
  border-radius: 0.5rem;
}

.founder-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;

}



/* Blogs */
.blog{
  padding: 12rem 13rem 9rem 13rem;
  overflow: hidden;
}

.blog .blog-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 0;
}

.blog .blog-box .blog-img{
  width: 45%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}

.blog-img img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: 600ms ease-in-out;
  filter: grayscale(100%);
}

.blog-img-overlay{
  width: 100%;
  height: 100%;
  background:rgba(49, 125, 178, 0.4);
  transition: opacity 800ms ease-in-out;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}


.blog .blog-box .blog-details{
  width: 40%;
  position: absolute;
  top: 70px;
  right: 0;
}

.blog .blog-box .blog-details h4{
  font-size: 1.6rem;
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif; 

}

.blog .blog-box .blog-details p{
  font-size: 0.9rem;
  margin-top: 2rem;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif; 
}

.blog .blog-box .blog-details a{
  font-weight: 600; 
  font-size: 0.7rem;
  position: relative;
  transition: 0.3s;
  color: var(--coolgreen);
}

.blog .blog-box .blog-details a:hover{
  color: var(--coolgreen);
}

.blog .blog-box .blog-details a::after{
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background-color: var(--coolgreen);
  position: absolute;
  top: 13px;
  right: -60px;
  transition: 0.3s;
}

.blog .blog-box .blog-details a:hover::after{
  color: var(--coolgreen);
}

.blog .blog-box h1{
  position: absolute;
  top: -75px;
  left: 0;
  font-size: 5.5rem;
  font-weight: 700;
  color: rgba(111, 165, 183, 0.5);
  z-index: -1;
  font-weight: 800;
}

.blog .blog-box:not(:last-child){
  margin-bottom: 14rem;
}

.blog-details:hover + .blog-img img{
  filter: none;
}

.blog-details:hover + .blog-img .blog-img-overlay{
  opacity: 0;
}

.page-heading{
    width: 100%;
    height: 45vh;
    background: var(--grey2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: relative;
}

.page-heading img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-heading .page-heading-text{
  width: 100%;
  height: 45vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-heading-text h1{
    font-size: 3rem;
    font-weight: 600;
    color: white;
    margin-top: 0.7rem;
}

.page-heading-overlay{
  width: 100%;
  height: 45vh;
  background: rgba(49, 125, 178, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.page-heading-text p{
  color: white;
  font-size: 1.2rem;
}


/* Contact Page */

.contact-banner{
  width: 100%;
  height: 65vh;
}

.contact-banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-banner-overlay{
  background: rgba(49, 125, 178, 0.8);
  width: 100%;
  height: 65vh;
  position: absolute;
  top: 0;
}

.contact-main{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-main-inner{
  width: 60%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contact-text h1{
  font-size: 3rem;
  color: white;
}

.contact-text p{
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
  width: 60%;
}

.contact-window{
  /* position: absolute;
  top: 40%;
  left: 20%; */
  height: 22rem;
  width: 100%;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  display: flex;
  flex-direction: row;
}

.contact-window-left{
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem 5rem 2rem 3rem;
}

.contact-window-left h4{
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: var(--reggreen)
}

.contact-window-left form{
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
}

.contact-window-left form input, .contact-window-left form textarea{
  margin-bottom: 0.5rem;
  border: none !important;
  border-bottom: 1px solid rgb(221, 221, 221) !important;
  padding: 0.8rem 0.5rem;
  font-size: 0.8rem;
}

.contact-window-left form button{
  background-color: var(--reggreen);
  color: white;
  padding: 6px 20px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  position: absolute;
  top: -3.4rem;
  right: -5.5rem;
  /* border-radius: 50%; */
}

.contact-window-right{
  height: 100%;
  width: 35%;
  background: #194C70;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socials .social-link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-window-right h4{
  color: white;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  width: 100%;
}


.socials .icon{
  margin-right: 0.5rem;
  font-size: 20px;
  color: white;
  flex-shrink: 0;
}

.contact-window-right p{
  color: white;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  width: 100%;
  word-break: break-all;
  margin-bottom: 0;
}

.socials .social-link:last-child p {
  word-break: normal;
}

.contact-details{
  width: 80%;
}

/* Join Us Page */
.join-main-container {
  margin-top: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #ffffff;
}
.position-card {
  margin-bottom: 80px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 400px;
  width: 500px;
  border-radius: 2rem;
  background: #ffffff;
  box-shadow:rgba(126, 127, 127, 0.3) 0px 6px 10px; 
}
.position-card-title{
  text-align: center;
  color: var(--reggreen);
}
.position-card-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.position-card-image{
  width: 100px;
  height: 100px;
}
.position-card-btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.position-card-btn{
  background-color: var(--regblue);
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.position-card-btn:hover{
  background-color: var(--reggreen);
}
.position-card-deadline{
  color: var(--black);
}

.events-navbar{
  width: 100%;
  background-color: var(--white);
  height: 14rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.events-list{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 40px;
}
.events-list {
  list-style: none;
}
.events-button{
  padding: 20px;
  cursor: pointer;
  border: none;
  color: var(--white);
  background-color: var(--regblue);
}
.events-button:hover{
  background-color: #23699b;
  scale: 1.05;
  transition: all 0.2s ease;
}
.events-button.active{
  background: var(--coolgreen);
}
.events-button:active {
  scale: 1.01;
  transition: all 0.1s ease;
}
.event-article{
  position: relative;
  height: auto;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
