@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;1,200&family=Raleway:wght@100;400;500;600&display=swap');
:root{
  --regblue: #317DB2;
  --reggreen: #ABC737;
  --white: #FDFDFD;
  --lightblue: #60A7F2;
  --black: #202223;
  --altblue: #4BADCE;
  --coolgreen: #8CBA7A;
  --turq: #54AE96;
  --yellow: #F8B714;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow-x: visible;
}

body,
.App {
    width: 100%;
    overflow-x: hidden;
}

.main{
  display: flex;
  flex-direction: column;
  width: 100%;

}

.app-container {
  display: flex;
  width: 100%;
  overflow-y: auto;
}

.d-flex{
  display: flex;
  align-items: center;
}

.container{
  margin: 0 auto;
  padding: 0 3rem;
}

.section{
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

div{
  display: block;
}

.section{
  padding: 4rem;
}

/* HEADER */

.header{
  overflow-x: hidden;
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 999;
  transition: all 0.5s ease-in-out;

}

.header.active{
  overflow-x: hidden;
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 999;
  background-color: var(--regblue);
  transition: all 0.5s ease-in-out;
}

.head-center{
  justify-content: space-between;
  height: 100%;
}

.logo{
  height: 4rem;
  width: 4rem;
  margin-left: 2rem;
  position: relative;
}

.logo-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-title{
  position: absolute;
  top: 0;
  height: 100%;
  padding-left: 0.6rem;
}

.nav-item{
  font-weight: 200;
  font-size: 1rem;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.nav-item:hover{
  color: var(--reggreen);
}

.nav-list .nav-item:not(:last-child){
  margin-right: 1.5rem;
}

.green{
  background-color: green;
}

.header p{
  font-size: 2rem;
}

/* Home */

.section{
  width:100%;
}

video{
  width: 120%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.video-overlay{
  width: 100%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  height: 100%;
  background-image: linear-gradient(rgb(49, 125, 178), transparent);
  
}

.img-overlay{
  width: 100%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  height: 100%;
  background-color: rgba(49, 125, 178, 0.6);
}

.club-name{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.club-name img{
  width: 30%;
  max-width: 300px;
}

.intro-search{
  position: relative;
  height: 60vw;
}

.video-container{
  position: absolute;
  bottom: 0;
  left:0;
  margin:0;
  top:0;
  width: 110%;
  height: 100%;
  z-index:0;
}

.intro-info{
  padding: 3rem 0;
  height: fit-content;
  background: white;
  position: relative;
}

.intro-info h1, span{
  font-family: 'Raleway', sans-serif; 
  font-size: 5rem;
  font-weight: 600;
  margin: 3.5rem 0;
  white-space: nowrap;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#word-one{
  color: var(--reggreen);
}

#word-two{
  color: var(--altblue)
}

.intro-info-container{
  width: 100%;
}

.mission-text{
  font-family: 'Raleway', sans-serif; 
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 2rem;
  line-height: 1.5;
  width: 1rem;

}

.mission-text p{
  margin-bottom: 1rem;
}

#par1{
  display: flex;
  justify-content: start;
  text-align: start;
}

#par2{
  display: flex;
  justify-content: end;
  text-align: end;
}

#par3{
  text-align: center;
}


.milestones{
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.news-piece-holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.news-piece-container{
  width: 90%;
  display: flex;
  padding: 2rem;
  margin-bottom: 4rem;
  border-radius: 1rem;
  background-color: rgba(75, 173, 206, 0.4);
}

.news-piece.right-container{
  width: 30%;
}

.news-piece.left-container{
  width: 70%;
  padding: 1rem 2.5rem;
}

.news-piece h1{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.news-piece p{
  line-height: 1.5; 
}

.img-container{

  height: 100%;
  background-color: blue;
}

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallax-img{
  width: 120%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  overflow-clip-margin: content-box;
  overflow: clip;
  background-image: url(./assets/background2.jpg);
}

.video-container img{
  width: 100%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  overflow-clip-margin: content-box;
  overflow: clip;
}


.club-stats{
  height: 60vh;
  width: 100%;
  position: relative;
  padding: 4rem;

}

.club-stats h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: white;
}


.stats{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
  width: 100%;
  color: white;  
}

.stats h1{
  font-size: 6rem;
}

.stat{
  text-align: center ;
}

.footer{
  background-color: red;
  height: 15rem;
  position: relative;
}

/* Team section styling */
.team-members{
  height: 100vh;
  background: red;
}

.card{
  background: white;
  width: 25%;
  padding: 3rem 5rem;
}

.card p{
  padding-top: 1rem;
}

/* Blogs */
.blog{
  padding: 12rem 13rem 9rem 13rem;
  overflow: hidden;
}

.blog .blog-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 0;
}

.blog .blog-box .blog-img{
  width: 45%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}

.blog-img img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: 600ms ease-in-out;
  filter: grayscale(100%);
}

.blog-img-overlay{
  width: 100%;
  height: 100%;
  background:rgba(49, 125, 178, 0.4);
  transition: opacity 800ms ease-in-out;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}


.blog .blog-box .blog-details{
  width: 40%;
  position: absolute;
  top: 70px;
  right: 0;
}

.blog .blog-box .blog-details h4{
  font-size: 1.6rem;
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif; 

}

.blog .blog-box .blog-details p{
  font-size: 0.9rem;
  margin-top: 2rem;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif; 
}

.blog .blog-box .blog-details a{
  font-weight: 600; 
  font-size: 0.7rem;
  position: relative;
  transition: 0.3s;
  color: var(--coolgreen);
}

.blog .blog-box .blog-details a:hover{
  color: var(--coolgreen);
}

.blog .blog-box .blog-details a::after{
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background-color: var(--coolgreen);
  position: absolute;
  top: 13px;
  right: -60px;
  transition: 0.3s;
}

.blog .blog-box .blog-details a:hover::after{
  color: var(--coolgreen);
}

.blog .blog-box h1{
  position: absolute;
  top: -75px;
  left: 0;
  font-size: 5.5rem;
  font-weight: 700;
  color: rgba(111, 165, 183, 0.5);
  z-index: -1;
  font-weight: 800;
}

.blog .blog-box:not(:last-child){
  margin-bottom: 14rem;
}

.blog-details:hover + .blog-img img{
  filter: none;
}

.blog-details:hover + .blog-img .blog-img-overlay{
  opacity: 0;
}

.page-heading{
    width: 100%;
    height: 45vh;
    background: var(--grey2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: red;
    position: relative;
}

.page-heading img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-heading .page-heading-text{
  width: 100%;
  height: 45vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-heading-text h1{
    font-size: 3rem;
    font-weight: 600;
    color: white;
    margin-top: 0.7rem;
}

.page-heading-overlay{
  width: 100%;
  height: 45vh;
  background: rgba(49, 125, 178, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.page-heading-text p{
  color: white;
  font-size: 1.2rem;
}

